[Unit]
Documentation=man:systemd-sysv-generator(8)
SourcePath=/etc/init.d/openvswitch-dpdk-switch
Description=LSB: Open vSwitch switch
Before=multi-user.target
Before=multi-user.target
Before=multi-user.target
Before=graphical.target
After=network-online.target
After=nss-lookup.target
After=remote-fs.target
Wants=network-online.target

[Service]
Type=forking
Restart=no
TimeoutSec=5min
IgnoreSIGPIPE=no
KillMode=process
GuessMainPID=no
RemainAfterExit=yes
SuccessExitStatus=5 6
Environment=OVS_VSWITCHD_HOT_UPGRADE=yes
Environment=OVS_FORCE_RELOAD_KMOD=no
ExecStart=/etc/init.d/openvswitch-dpdk-switch start
ExecStop=/etc/init.d/openvswitch-dpdk-switch stop
